apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: sl-tested-vm
spec:
  running: true
  template:
    metadata:
      labels:
        kubevirt.io/domain: debian-based-vm
    spec:
      domain:
        devices:
          disks:
          - name: containerdisk
            disk:
              bus: virtio
        resources:
          requests:
            memory: 2048Mi
            cpu: '2'
          limits:
            memory: 4096Mi
            cpu: '4'
      volumes:
      - name: containerdisk
        containerDisk:
          image: debian-cloud/debian-12-genericcloud
